h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 8px;

}

h2 {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}

h3 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
}

h4 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12px;
}

ul {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 12px;
    padding-left: 20px;
}

p {
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 2px;
}

table {
    width: 100%;
}

th {
    border-bottom: 1px solid;
    border-top: 0;
}

td {
    border-bottom: 1px solid darkgray;
    border-top: 0;
}