h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 8px;

}

h2 {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 12px;
}

h3 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 16px;
}

h4 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 16px;
}

ul {
    margin-top: 12px;
    margin-top: 12px;
    font-size: 12px;
}

table {
    width: 100%;
}

th {
    border-bottom: 1px solid;
    border-top: 0;
}

td {
    border-bottom: 1px solid darkgray;
    border-top: 0;
}