:root {
    --blue-accent: rgb(19, 11, 99);
    --og-blue-accent: rgb(65, 140, 180);
    --bw-color: rgb(99, 99, 99);
    --accent-color: var(--og-blue-accent);
}

h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    padding-left: 4px;
    /* margin-top: 0px; */
    /* margin-bottom: 8px;  */
    /* border-bottom-style: solid;
    border-width: 1.5px; */
    /* border-color: rgb(0, 0, 100);; */
    background-color: var(--accent-color);
    color: white;

}

h2 {
    font-size: 16px;
    padding-left: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: var(--accent-color);
    /* text-decoration: underline; */
}

a {
    color: var(--accent-color);
}

h3 {
    font-size: 12px;
    font-weight: bold;
    padding-left: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

h4 {
    font-size: 12px;
    padding-left: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

ul {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 12px;
    padding-left: 20px;
}

p {
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* 
table {
    width: 100%;
}

th {
    border-bottom: 1px solid;
    border-top: 0;
}

td {
    border-bottom: 1px solid darkgray;
    border-top: 0;
} */