h1 {
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 8px;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: darkblue;

}

h2 {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: rgb(0, 0, 100);
    /* text-decoration: underline; */
}

a {
    color: darkblue;
}

h3 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
}

h4 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12px;
}

ul {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 12px;
    padding-left: 20px;
}

p {
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 2px;
}

table {
    width: 100%;
}

th {
    border-bottom: 1px solid;
    border-top: 0;
}

td {
    border-bottom: 1px solid darkgray;
    border-top: 0;
}